<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Go Session Auth</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }
  </style>
</head>
<body class="bg-white font-family-karla h-screen">

<div class="w-full flex flex-wrap">

  <!-- Register Section -->
  <div class="w-full md:w-1/2 flex flex-col">

    <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
      <a href="#" class="bg-black text-white font-bold text-xl p-4" alt="Logo">Logo</a>
    </div>

    <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
      <p class="text-center text-3xl">Join Us.</p>
      <form class="flex flex-col pt-3 md:pt-8" action="/register" method="post">
        <div class="flex flex-col pt-4">
          <label for="FullName" class="text-lg">Name</label>
          <input type="text" name="FullName" id="FullName" placeholder="John Smith" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {{ if .Error.FullName }} border-red-500 {{ end }}" value="{{ .user.FullName }}" />
          {{ if .Error.FullName }}
          <span class="text-red-500 text-sm">{{ .Error.FullName }}</span>
          {{ end }}
        </div>

        <div class="flex flex-col pt-4">
          <label for="email" class="text-lg">Email</label>
          <input type="email" name="email" id="email" placeholder="your@email.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {{ if .Error.email }} border-red-500 {{ end }}" value="{{ .user.Email }}" />
          {{ if .Error.email }}
          <span class="text-red-500 text-sm">{{ .Error.email }}</span>
          {{ end }}
        </div>

        <div class="flex flex-col pt-4">
          <label for="username" class="text-lg">Username</label>
          <input type="text" name="username" id="username" placeholder="Username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {{ if .Error.username }} border-red-500 {{ end }}" value="{{ .user.Username }}" />
          {{ if .Error.username }}
          <span class="text-red-500 text-sm">{{ .Error.username }}</span>
          {{ end }}
        </div>

        <div class="flex flex-col pt-4">
          <label for="password" class="text-lg">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {{ if .Error.password }} border-red-500 {{ end }}" value="{{ .user.Password }}" />
          {{ if .Error.password }}
          <span class="text-red-500 text-sm">{{ .Error.password }}</span>
          {{ end }}
        </div>

        <div class="flex flex-col pt-4">
          <label for="confirmpassword" class="text-lg">Confirm Password</label>
          <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline {{ if .Error.confirmpassword }} border-red-500 {{ end }}" value="{{ .user.confirmpassword }}" />
          {{ if .Error.confirmpassword }}
          <span class="text-red-500 text-sm">{{ .Error.confirmpassword }}</span>
          {{ end }}
          {{ if .Message}}
          <div class="alert alert-success">
            {{ .Message}}
          </div>
          <hr/>
          {{ end }}
        </div>

        <input type="submit" value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" />
      </form>
      <div class="text-center pt-12 pb-12">
        <p>Already have an account? <a href="/login" class="underline font-semibold">Log in here.</a></p>
      </div>
    </div>
  </div>

  <!-- Image Section -->
  <div class="w-1/2 shadow-2xl">
    <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0" alt="Background" />
  </div>
</div>

</body>
</html>
